body{
  background-color: #F3E5D8;
}
.container{
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  max-width: 1200px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 30px 30px;
  font-size: 18px;
   box-shadow: rgba(16, 5, 12, 0.836) 5px 5px, rgba(16, 5, 12, 0.836) 5px 5px, rgba(16, 5, 12, 0.836) 5px 5px, rgba(16, 5, 12, 0.836) 3px 3px, rgba(16, 5, 12, 0.836) 5px 5px;
}
.inner-img{
  text-align: center;
  align-items: center;
}
img{
 max-width: 80%;
 object-fit: cover;
 border-radius: 15px;
}
.chuanBi{
  background-color: #FFF7FC;
  padding: 10px 15px;
  border-radius: 10px;
}
strong{
  padding-left:15px;
  color: #615956;
}
li{
  padding:10px 0px;
}
li::marker {
  color: #81554C;
  font-size: 18px;
  font-weight: 700;
}
table { 
  border-collapse: collapse; 
} 
 
th, td { 
  border-bottom: 1px solid #E0E0E0; 
  /* padding: 8px;  */
} 
 
th, td { 
  border-right: none; 
  border-left: none; 
} 
th, td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 43px;
  padding-right: 226px;
}
